<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content='Precon'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Tag  -->
    <title>@ViewBag.Title</title>

    <!-- Favicon -->
    <link rel="icon" type="~/Content/image/png" href="img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/Content/css/animate.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.css">
    <!-- FancyBox CSS -->
    <link rel="stylesheet" href="~/Content/css/jquery.fancybox.min.css">
    <!-- Magnipic Popup CSS -->
    <link rel="stylesheet" href="~/Content/css/magnific-popup.min.css">
    <!-- Slick Nav CSS -->
    <link rel="stylesheet" href="~/Content/css/slicknav.min.css">
    <!-- Slick Slider CSS -->
    <link rel="stylesheet" href="~/Content/css/slick-slider.css">
    <!-- Precon Stylesheet -->
    <link rel="stylesheet" href="~/Content/css/reset.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <link rel="stylesheet" href="~/Content/css/skins/skin1.css">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="#" id="precon_custom">
</head>
<body id="body" class="boxed-bg">

    <!-- Preloader -->
    <div class="preloader-main">
        <div class="preloader"></div>
    </div>
    <!--/ End Preloader -->

    <div id="layout" class="boxed-layout">

        <!-- Start Header -->
        <header class="header">
            <!-- Start Topbar -->
            <div class="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="top-inner">
                                <div class="row">
                                    <div class="col-lg-8 col-12">
                                        <!-- Top Contact -->
                                        <ul class="top-contact">
                                            <li><i class="fa fa-map-marker"></i>786 Brilon City, United Kingdom</li>
                                            <li><a href="mailto:support@youremail.com"><i class="fa fa-paper-plane"></i>systemadmin@company.com</a></li>
                                        </ul>
                                        <!-- End Top Contact -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ End Topbar -->
            <!-- Header Inner -->
            <div class="header-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-12">
                            <!-- Logo -->
                            <div class="logo">
                                <!-- Text Logo -->
                                <div class="text-logo">
                                    @Html.ActionLink("Precon.", "Index", "Home", null, new { @class = "navbar-brand" })
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="mobile-nav"></div>
                        </div>
                        <div class="col-lg-10 col-12">
                            <div class="main-menu-bar">
                                <!-- Main Menu -->
                                <div class="main-menu">
                                    <nav class="navbar navbar-expand-lg">
                                        <div class="navbar-collapse">
                                            <ul class="nav menu navbar-nav">
                                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                                                @if (Request.IsAuthenticated)
                                                {
                                                    <li>@Html.ActionLink("Open Positions", "Index", "OpenPositions")</li>
                                                    <li>@Html.ActionLink("User Details", "Index", "UserDetails")</li>
                                                    <li>@Html.ActionLink("Applications", "Index", "Applications")</li>
                                                }

                                                @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Manager")))
                                                {
                                                    <li>@Html.ActionLink("Manage Open Positions", "Index", "ManageOpenPositions")</li>
                                                    <li>@Html.ActionLink("Manage Applications", "Index", "ManageApplications")</li>
                                                }

                                                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                                {
                                                    <li>@Html.ActionLink("Departments", "Index", "Departments")</li>
                                                    <li>@Html.ActionLink("Application Statuses", "Index", "ApplicationStatus")</li>
                                                    <li>@Html.ActionLink("Locations", "Index", "Locations")</li>
                                                    <li>@Html.ActionLink("Positions", "Index", "Positions")</li>
                                                    <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                                                    <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                                                }

                                            </ul>
                                            @Html.Partial("_LoginPartial")
                                        </div>
                                    </nav>
                                </div>
                                <!--/ End Main Menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ End Header Inner -->
        </header>
        <!--/ End Header -->
        <!-- Hero Area -->
        <section class="hero-area">
            <div class="hero-slider">
                <!-- Single Slider -->
                <div class="single-slide" style="background-image:url('../Content/images/slider/slider-image1.jpg')">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-12">
                                <!-- Welcome Text -->
                                <div class="welcome-text">
                                    <div class="welcome-text-inner">
                                        <div class="welcome-text-content">
                                            <b>Nothing is impossible. Just start from now</b>
                                            <h1>We Provide You Trusted Business & <span>Maximum</span> Profited Amount!</h1>
                                            <p>Mauris quis tincidunt urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Aliquam et malesuada nunc, facilisis  pharetra ex, nec mollis lacus</p>
                                            <div class="button">
                                                <a href="portfolio.html" class="btn theme-2 effect">View Our Portfolio<i class="fa fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Welcome Text -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ End Slider Single -->
            </div>
        </section>
        <!--/ End Hero Area -->
        <!-- Why Choose -->
        <!--<section class="why-choose section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <!-- Image -->
        <!--<div class="why-img">
            <img src="images/why-choose.jpg" alt="#">
            <a href="https://www.youtube.com/watch?v=FZQPhrdKjow" class="primary video-play mfp-fade"><i class="fa fa-play"></i>Watch now
            <div class="waves-block">
                <div class="waves wave-1"></div>
                <div class="waves wave-2"></div>
                <div class="waves wave-3"></div>
            </div>
            </a>
        </div>-->
        <!--/ End Image -->
        <!--</div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="choose-main">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">-->
        <!-- Single Choose -->
        <!--<div class="single-choose">
            <i class="fa fa-dashboard"></i>
            <h4>Powerfull Admin Panel</h4>
            <p>Donec tortor tellus, dapibus at dignissim finibus, viverra id urna. Nulla in neque volutpat, ultricies nisl id</p>-->
        <!--</div>-->
        <!--/ End Single Choose -->
        <!--</div>
        <div class="col-lg-6 col-md-6 col-12">-->
        <!-- Single Choose -->
        <!--<div class="single-choose">
            <i class="fa fa-lightbulb-o"></i>
            <h4>Modern Technology</h4>
            <p>Donec tortor tellus, dapibus at dignissim finibus, viverra id urna. Nulla in neque volutpat, ultricies nisl id</p>
        </div>-->
        <!--/ End Single Choose -->
        <!--</div>
        <div class="col-lg-6 col-md-6 col-12">-->
        <!-- Single Choose -->
        <!--<div class="single-choose">
            <i class="fa fa-cog"></i>
            <h4>Unlimited Options</h4>
            <p>Donec tortor tellus, dapibus at dignissim finibus, viverra id urna. Nulla in neque volutpat, ultricies nisl id</p>
        </div>-->
        <!--/ End Single Choose -->
        <!--</div>
        <div class="col-lg-6 col-md-6 col-12">-->
        <!-- Single Choose -->
        <!--<div class="single-choose">
            <i class="fa fa-laptop"></i>
            <h4>Fully Responsive</h4>
            <p>Donec tortor tellus, dapibus at dignissim finibus, viverra id urna. Nulla in neque volutpat, ultricies nisl id</p>
        </div>-->
        <!--/ End Single Choose -->
        <!--</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
        <!--/ End Why Choose -->
        <!-- Call To Action -->
        <!--<section class="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-12">
                        <div class="call-to-main">
                            <h2>We Have 30+ Years of Experience. You Always the Best Guidance.</h2>
                            <p>consectetur adipiscing elit. Nulla vitae ex at dolor interdum tempor. Nam dictum sem felis</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-12">
                        <div class="button">
                            <a href="contact.html" class="btn effect">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
        <!-- End Call To Action -->
        <!-- Services -->
        <section class="services pattern-1 section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-10 offset-1">
                        @*<div class="section-title text-center m-bottom-30">
                        <h2><span>Creative</span>Services</h2>
                        <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sagittis, libero a blandit efficitur, erat tortor tincidunt magna, eu porta felis arcu et lacus. Vestibulum accumsan odio sem<a href="services.html">View more service.</a></P>
                        </div>*@
                        <div id="mainContent">@RenderBody()</div>
                    </div>
                    @*<div class="col-lg-6 offset-lg-3 col-12">
            <div class="section-title text-center m-bottom-30">
                <h2><span>Creative</span>Services</h2>
                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sagittis, libero a blandit efficitur, erat tortor tincidunt magna, eu porta felis arcu et lacus. Vestibulum accumsan odio sem<a href="services.html">View more service.</a></P>
            </div>
        </div>*@
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer id="footer-fixed" class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <!-- Single Widget -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="single-widget about">
                                <div class="logo">
                                    <!-- Text Logo -->
                                    <div class="text-logo">
                                        <a href="index.html">Precon.</a>
                                    </div>
                                </div>
                                <p>consectetur adipiscing elit. Sed lacus purus, auctor a eros consequat, condimentum rhoncus nibh. Donec ornare libero sed mattis consequat</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom -->
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="copyright-inner">
                                <p>&#9400; Copyright @DateTime.Now.Year<a href="http://emmalintz.com/" ; target="_blank">Emma Lintz</a>. Template Provide By <a href="https://www.codeglim.com">Codeglim.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ End Footer Bottom -->
        </footer>
        <!--/ End footer -->

    </div> <!-- End Layout -->
    <!-- Jquery JS -->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/jquery-migrate-3.0.0.js"></script>
    <!-- Popper JS -->
    <script src="~/Content/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- Modernizr JS -->
    <script src="~/Content/js/modernizr.min.js"></script>
    <!-- Isotop JS -->
    <script src="~/Content/js/isotope.pkgd.min.js"></script>
    <!-- Slick Slider JS -->
    <script src="~/Content/js/slick.min.js"></script>
    <!-- FacnyBox JS -->
    <script src="~/Content/js/jquery-fancybox.min.js"></script>
    <!-- Steller JS -->
    <script src="~/Content/js/steller.min.js"></script>
    <!-- Easing JS -->
    <script src="~/Content/js/easing.min.js"></script>
    <!-- Magnipic Popup JS -->
    <script src="~/Content/js/magnific-popup.min.js"></script>
    <!-- Slick Nav JS -->
    <script src="~/Content/js/jquery.slicknav.min.js"></script>
    <!-- ScrollUp JS -->
    <script src="~/Content/js/jquery.scrollUp.min.js"></script>
    <!-- Active JS -->
    <script src="~/Content/js/active.js"></script>

    @RenderSection("scripts", false)
</body>
</html>