<!DOCTYPE HTML>
<!--
    Editorial by HTML5 UP
    html5up.net | ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Bright Horizons Bank Job Board</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="author" content="Emma Lintz" />
    <meta name="description" content="This is a job board application created by Emma Lintz for final project for the Full Stack Web Developer program at Centriq Training." />
    <meta name="keywords" content="Final Project, Job Board" />

    <!--PagedList-->
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--Datatables.net CSS-->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />

    <!--jQuery UI Datepicker-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Content/assets/css/main.css" />
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">
                    @Html.ActionLink("Bright Horizons Bank Job Board", "Index", "Home", new { @class = "logo" })
                    @*<a href="index.html" class="logo"><strong>Editorial</strong> by HTML5 UP</a>*@
                    <ul class="icons">
                            <li><a href="emma_lintz@outlook.com" class="fas fa-envelope" aria-hidden="true">@*<span class="label">Email</span>*@</a></li>
                            <li><a href="https://www.linkedin.com/in/emma-lintz-b5b71353" class="fab fa-linkedin-in" aria-hidden="true">@*<span class="label">LinkedIn</span>*@</a></li>
                            @*<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
                            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>*@
                        </ul>
                </header>

                <!-- Banner -->
                <section id="banner">
                    <div class="content">
                        <header>
                            <h1>
                                Welcome to Bright Horizon Bank's Job Board
                            </h1>
                            <p>Your dream job, a single click away</p>
                        </header>
                        <p>At Bright Horizons Bank, our team is our greatest asset. To demonstrate our commitment to you and your professional growth, we have made it easy realize your career goals. To search available opportunities and apply with a single click, simply register for your account, upload your resume, and start searching!</p>
                        <ul class="actions">
                            @*<li>@Html.ActionLink("Register", "Register", "Account", new { @class = "button big" })</li>
                            <li>@Html.ActionLink("Login", "Login", "Account", new { @class = "button big" })</li>*@
                            <li><a href="/Account/Register" class="button big">Register</a></li>
                            <li><a href="/Account/Login" class="button big">Login</a></li>
                        </ul>
                    </div>
                    <span class="image object">
                        <img src="~/Content/images/razvan-chisu-Ua-agENjmI4-unsplash (1).jpg" alt="Man looking up to the sky with arms wide" />
                    </span>
                </section>

                <!-- Section -->
                @*<section>*@
                @*<header class="major">
                        <h2>Erat lacinia</h2>
                    </header>*@
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            @*was class="features"*@
                            @RenderBody()
                        </div>
                    </div>
                </div>
                @*<article>
                        <span class="icon fa-gem"></span>
                        <div class="content">
                            <h3>Portitor ullamcorper</h3>
                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                        </div>
                    </article>
                    <article>
                        <span class="icon solid fa-paper-plane"></span>
                        <div class="content">
                            <h3>Sapien veroeros</h3>
                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                        </div>
                    </article>
                    <article>
                        <span class="icon solid fa-rocket"></span>
                        <div class="content">
                            <h3>Quam lorem ipsum</h3>
                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                        </div>
                    </article>
                    <article>
                        <span class="icon solid fa-signal"></span>
                        <div class="content">
                            <h3>Sed magna finibus</h3>
                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                        </div>
                    </article>*@
                @*</section>*@

                <!-- Section -->
                @*<section>
                        <header class="major">
                            <h2>Ipsum sed dolor</h2>
                        </header>
                        <div class="posts">
                            <article>
                                <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
                                <h3>Interdum aenean</h3>
                                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                                <ul class="actions">
                                    <li><a href="#" class="button">More</a></li>
                                </ul>
                            </article>
                            <article>
                                <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
                                <h3>Nulla amet dolore</h3>
                                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                                <ul class="actions">
                                    <li><a href="#" class="button">More</a></li>
                                </ul>
                            </article>
                            <article>
                                <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
                                <h3>Tempus ullamcorper</h3>
                                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                                <ul class="actions">
                                    <li><a href="#" class="button">More</a></li>
                                </ul>
                            </article>
                            <article>
                                <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
                                <h3>Sed etiam facilis</h3>
                                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                                <ul class="actions">
                                    <li><a href="#" class="button">More</a></li>
                                </ul>
                            </article>
                            <article>
                                <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
                                <h3>Feugiat lorem aenean</h3>
                                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                                <ul class="actions">
                                    <li><a href="#" class="button">More</a></li>
                                </ul>
                            </article>
                            <article>
                                <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
                                <h3>Amet varius aliquam</h3>
                                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                                <ul class="actions">
                                    <li><a href="#" class="button">More</a></li>
                                </ul>
                            </article>
                        </div>
                    </section>*@

            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">
            <div class="inner">

                <!-- Search -->
                @*<section id="search" class="alt">
                        <form method="post" action="#">
                            <input type="text" name="query" id="query" placeholder="Search" />
                        </form>
                    </section>*@

                <!-- Menu -->
                <nav id="menu">
                    <header class="major">
                        <h2>Menu</h2>
                    </header>
                    @Html.Partial("_LoginPartial")
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Open Positions", "Index", "OpenPositions")</li>
                            <li>@Html.ActionLink("Applications", "Index", "Applications")</li>
                            <li>@Html.ActionLink("User Details", "Index", "UserDetails")</li>
                        }

                        @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Manager")))
                        {
                            <li>
                                <span class="opener">Manager</span>
                                <ul>
                                    <li>@Html.ActionLink("Manage Open Positions", "Index", "ManageOpenPositions")</li>
                                    <li>@Html.ActionLink("Manage Applications", "Index", "ManageApplications")</li>
                                </ul>
                            </li>
                        }
                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li>
                                <span class="opener">Admin</span>
                                <ul>
                                    <li>@Html.ActionLink("Positions", "Index", "Positions")</li>
                                    <li>@Html.ActionLink("Departments", "Index", "Departments")</li>
                                    <li>@Html.ActionLink("Locations", "Index", "Locations")</li>
                                    <li>@Html.ActionLink("Application Statuses", "Index", "ApplicationStatus")</li>
                                    <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                                    <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                                </ul>
                            </li>
                        }
                    </ul>
                </nav>

                <!-- Section -->
                <section>
                    <header class="major">
                        <h2>How can we help you?</h2>
                    </header>
                    <div class="mini-posts">
                        <article>
                            <a href="#" class="image"><img src="~/Content/images/tim-gouw-bwki71ap-y8-unsplash.jpg" alt="Woman sitting across from two women at conference table" class="image"/></a>
                            <p>Have questions about a posting? Talk to your Supervisor or your HR representative. They are happy to find answers for you!</p>
                        </article>
                        <article>
                            <a href="#" class="image"><img src="~/Content/images/luis-villasmil-4V8uMZx8FYA-unsplash.jpg" alt="Two men looking at a smart phone" /></a>
                            <p>Want input on your resume and/or interview coaching? Talk to your HR representative. They are trained in career counseling to help you achieve your goals!</p>
                        </article>
                        <article>
                            <a href="#" class="image"><img src="~/Content/images/cytonn-photography-ZJEKICY5EXY-unsplash.jpg" alt="Man working on laptop" /></a>
                            <p>Have recommendations for improving this site? We want to hear them! Please submit enhancement requests via the Contact form. Your input will be considered for future releases.</p>
                        </article>
                    </div>
                    <ul class="actions">
                        <li>@Html.ActionLink("Contact", "Contact", "Home", new { @class = "button" })</li>
                    </ul>
                </section>

                <!-- Section -->
                <section>
                    <header class="major">
                        <h2>Get in touch</h2>
                    </header>
                    <p>Are you experiencing technical difficulties? Please submit your inquiry via phone, email, or the Contact Form. Our dedicated support team will respond to your inquiry within 1 business day.</p>
                    <ul class="contact">
                        <li class="icon solid fa-envelope"><a href="#">sysadmin@company.com</a></li>
                        <li class="icon solid fa-phone">(999) 999-9999</li>
                        <li class="icon solid fa-home">
                            1740 W 92 St<br />
                            Kansas City, MO 64114
                        </li>
                    </ul>
                </section>

                <!-- Footer -->
                <footer id="footer">
                    <p class="copyright">&copy @DateTime.Today.Year <a href="http://emmalintz.com" target="_blank">Emma Lintz</a>.Template Provided By: <a href="https://html5up.net">HTML5 UP</a>.</p>
                </footer>

            </div>
        </div>

    </div>

    <!-- Scripts -->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/browser.min.js"></script>
    <script src="~/Content/assets/js/breakpoints.min.js"></script>
    <script src="~/Content/assets/js/util.js"></script>
    <script src="~/Content/assets/js/main.js"></script>


    <!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!--jQuery UI Datepicker-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!--Datatables.net-->
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>



    <script>
        $('#menu a').each(function () {
            var fullAnchor = $(this).attr('href');
            console.log(fullAnchor);
            var aController = fullAnchor.split('/');
            console.log('aController[1]: ' + aController[1])
            var fullPath = (window.location.pathname + location.search).substr(1);
            var pController = fullPath.split('/');
            console.log('pController[0]: ' + pController[0]);
            console.log('--------------------');
            console.log(window.location.pathname);
            console.log(fullAnchor);
            if (aController[1] == pController[0]) {
                $(this).addClass('active');
            }
            if ((aController[1] == 'Home' || aController[1] == 'Account') && window.location.pathname != fullAnchor) {
                $(this).removeClass();
            }
        });

        $(document).ready(function () {
            $('#myTable').DataTable();
        });

        $(function () {
            $("#datepicker").datepicker();
        });

    </script>

    @RenderSection("scripts", false)
</body>
</html>