@model JobBoardFinalProject.DATA.EF.UserDetail

@{
    ViewBag.Title = "User Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResumeFilename)
        </dt>

        <dd>
            @if (Model.ResumeFilename == null)
            {
                @Html.ActionLink("Add Resume", "Edit", new { id = Model.UserId })
            }
            else
            {
                @Html.DisplayFor(model => model.ResumeFilename)
                @Html.Raw(" | ")
                <a href="@Url.Content("~/Content/Documents/EmployeeResumes/" + Model.ResumeFilename)" target="_blank">View Resume</a>
            }


            @*@Html.DisplayFor(model => model.ResumeFilename)
            @Html.Raw(" | ")
            <a href="@Url.Content("~/Content/Documents/EmployeeResumes/" + Model.ResumeFilename)" target="blank">Uploaded Resume</a>*@
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
